@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Kanit:wght@500&family=Permanent+Marker&family=Poiret+One&display=swap');

body {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: red;
}

#playboard {
    height: 500px;
    width: 600px;
    background-color: blue;
    margin: 0 auto;
    border: navy;
}